@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* barre de menu */
.menu {
    display: flex;
    padding: 0;
    background-color: palevioletred;
    justify-content:space-around;
}
.menu li{
    list-style-type: none;

}
    .menu a {
     display: block;  
     min-width: 120px;
     margin: 0.5rem;
     padding: 0.4rem 0;
     text-align: center;
     background-color: firebrick;
     color: #fff;
     text-decoration: none;
     border: 1px solid palevioletred;
     border-radius: 4px;
      } 
     .menu a:hover {
        background-color: yellow;
        color: black;
        border-color: #fc5d5d;
     }
     .searchbar{
        margin-top: 10px;
      }
      /* fond  */
      body{
    background: url(image-fleurs/fond-fleur.jpg) center/cover;
    min-height:  100vh;
      } 
      h1{
        display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: 'Pacifico', cursive;
            font-size: 50pt;
      }
      .trait1{
        height: 7px;
        width: 50%;
        margin: -5px auto;
        background-color: #fc5d5d ;
      }
      
        .titre{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: 'Pacifico', cursive;
            font-size: 50pt;
      }
      h2{
      font-size: medium;
      }
      .formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        margin: 30px;
        padding: 15px;
        border: solid orange;
        border-radius: 10px;

      }
      .checkbox{
        display:flex;
        flex-direction: column-reverse;
      }